@import 'stylesheet/shared.scss';

.chartPie {
  position: relative;
  width: 280px;
  height: 280px;

  @include for-size(tablet) {
    width: 320px;
    height: 320px;
    margin-right: 35px;
    margin-bottom: 0;
  }

  @include for-size(desktop) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.canvasTop {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 280px;
  height: 280px;

  @include for-size(tablet) {
    width: 320px;
    height: 320px;
  }
}
