@font-face {
  font-family: 'Circe Bold Regular';
  font-style: normal;
  font-weight: 700;
  src: local('Circe Bold'),
    url('../assets/fonts/Circe-Bold-Regular.woff2') format('woff2'),
    url('../assets/fonts/Circe-Bold-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Circe Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Circe Regular'),
    url('../assets/fonts/Circe-Regular.woff2') format('woff2'),
    url('../assets/fonts/Circe-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'),
    url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'),
    url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Regular.woff') format('woff');
}
