$primary-font: Circe, sans-serif;
$secondary-font: Poppins, sans-serif;

$gray-text-color: #a6a6a6;
$gray-table-string-color: #dcdcdf;
$fill-color: #e7eaf2;
$background-color: #e5e5e5;
$black-color: #000000;
$modal-background-color: rgba(0, 0, 0, 0.25);
$white-color: #ffffff;
$white-transaction-menu-color: rgba(255, 255, 255, 0.7);
$white-background-color: rgba(255, 255, 255, 0.4);
$white-background-color-second: rgba(255, 255, 255, 0.6);
$rose-color: #ff6596;
$indigo-accent-color: #4a56e2;
$indigo-other-color: #6e78e8;
$green-accent-color-color: #24cca7;

$diagram-color-1: #fed057;
$diagram-color-2: #ffd8d0;
$diagram-color-3: #fd9498;
$diagram-color-4: #c5baff;
$diagram-color-5: #6e78e8;
$diagram-color-6: #4a56e2;
$diagram-color-7: #81e1ff;
$diagram-color-8: #24cca7;
$diagram-color-9: #00ad84;

$time-transforming: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
