@import 'stylesheet/shared.scss';

.button {
  // @extend %button;
  width: auto;
  margin: 5px auto;
  padding: 5px 15px;
  // background-color: $primary-background-color;
}
.button:hover {
  // background-color: $active-background-color;
  // box-shadow: 1px 4px 4px $primary-shadow-color;
}
.buttonForm {
  // width: calc(100% / 4);
}
