@import 'stylesheet/shared.scss';

.logoutBtn {
  font-size: 18px;
  color: $gray-text-color-header;

  height: auto;
  width: auto;
  border-radius: 0;
  margin: 0;

  .logoutText {
    display: none;

    @include for-size(tablet) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .stickIcon {
    width: 1px;
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
  }

  .logoutIcon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-bottom: 2px;
    @include for-size(tablet) {
      margin-right: 10px;
    }
  }
}

.userName {
  margin-right: 14.5px;
  font-size: 18px;
  color: $gray-text-color-header;
}

.modalLogoutContent {
  position: absolute;
  inset: 50% auto auto 50%;
  max-width: 280px;
  border: 1px solid $gray-table-string-color;
  background: $white-color;
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  @include for-size(tablet) {
    max-width: 480px;
  }

  .caption {
    text-align: center;
    margin-bottom: 20px;
  }

  .modalBtn {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
      width: 280px;
      height: 50px;
      border-radius: 20px;
      max-width: 100%;

      @include for-size(tablet) {
        width: 400px;
      }
    }

    .btnNo {
      color: $white-color;
      background-color: $green-accent-color-color;
    }

    .btnYes {
      margin-bottom: 20px;
      background: $white-color;
      color: $indigo-accent-color;
      border: 1px solid $indigo-accent-color;
    }
  }
}
