@import 'stylesheet/shared.scss';

.logoutBtn {
  height: auto;
  width: auto;
  margin: 0;

  font-size: 18px;

  color: $gray-text-color-header;
  border-radius: 0;

  transition: color $time-transforming $timing-function;

  &:hover {
    color: $rose-color;

    transition: color $time-transforming $timing-function;

    .logoutIcon {
      fill: $rose-color;
      transition: fill $time-transforming $timing-function;
    }
  }
}

.logoutIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-bottom: 2px;

  fill: $gray-text-color-header;
  transition: fill $time-transforming $timing-function;

  @include for-size(tablet) {
    margin-right: 10px;
  }
}

.logoutText {
  display: none;

  @include for-size(tablet) {
    display: inline-block;
    vertical-align: middle;
  }
}

.stickIcon {
  width: 1px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

.userName {
  margin-right: 15px;
  font-size: 18px;
  color: $gray-text-color-header;
}

.modalLogoutContent {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 280px;
  padding: 30px;

  overflow: auto;

  background: $white-color;
  border-radius: 20px;
  border: 1px solid $gray-table-string-color;

  outline: none;

  @include for-size(tablet) {
    max-width: 480px;
    padding: 40px 65px 60px;
  }
}

.caption {
  text-align: center;
  margin-bottom: 20px;
}

.modalBtn {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 50px;
  margin: 0 auto;

  text-transform: uppercase;

  border-radius: 20px;

  &Confirm {
    @extend .modalBtn;

    margin-bottom: 20px;

    color: $indigo-accent-color;
    background: $white-color;
    border: 1px solid $indigo-accent-color;

    transition: color $time-transforming $timing-function,
      background-color $time-transforming $timing-function;

    &:hover {
      color: $white-color;
      background-color: $indigo-accent-color;

      transition: color $time-transforming $timing-function,
        background-color $time-transforming $timing-function;
    }
  }

  &Cancel {
    @extend .modalBtn;

    color: $white-color;
    background-color: $green-accent-color-color;

    transition: color $time-transforming $timing-function,
      border$time-transforming $timing-function,
      background-color $time-transforming $timing-function;

    &:hover {
      color: $green-accent-color-color;
      border: 1px solid $green-accent-color-color;
      background-color: $white-color;

      transition: color $time-transforming $timing-function,
        border$time-transforming $timing-function,
        background-color $time-transforming $timing-function;
    }
  }
}
