@import 'stylesheet/shared.scss';

.formContainer {
  padding: 36px 0;
  border-radius: 20px;
  background-color: $white-color;

  @include for-size(tablet) {
    padding: 40px 65px 60px;
  }
}

.formHeaderTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHeaderIcon {
  width: 30px;
  height: 30px;

  @include for-size(tablet) {
    width: 40px;
    height: 40px;
  }
}

.formHeaderText {
  margin-left: 16px;

  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;

  @include for-size(tablet) {
    margin-left: 20px;
    font-size: 30px;
  }
}

.titleForm {
  font-family: $secondary-font;
  color: $black-color;
  font-size: 30px;
  @include for-size(tablet) {
    margin-left: 20px;
  }
}

.regForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.error {
  color: $rose-color;
}

.regBtn {
  color: $white-color;
  background-color: $green-accent-color-color;
  height: 50px;
  width: 280px;
  border-radius: 20px;
  @include for-size(tablet) {
    width: 300px;
  }
}

.loginlink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 280px;
  border-radius: 20px;
  background: $white-color;
  color: $indigo-accent-color;
  border: 1px solid $indigo-accent-color;

  @include for-size(tablet) {
    width: 300px;
  }
}
