@import 'stylesheet/shared.scss';

.regForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.titleForm {
  font-family: $secondary-font;
  color: $black-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  margin-left: 16px;
  @include for-size(tablet) {
    margin-left: 20px;
  }
}

.textInput {
  width: 280px;
  height: 34px;
  margin: 40px 0px;
  border: 0px;
  border-bottom: 1px solid $gray-table-string-color;
  @include for-size(tablet) {
    width: 410px;
  }
}
.formElement {
  position: relative;
}

.iconFormElement {
  line-height: 0;
  position: absolute;
  top: 40%;
  left: 10px;
  fill: $fill-color;
}

.regBtn {
  color: $white-color;
  background-color: $green-accent-color-color;
  @include for-size(tablet) {
    width: 300px;
  }
}

.loginlink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 280px;
  border-radius: 20px;
  background: $white-color;
  color: $indigo-accent-color;
  border: 1px solid $indigo-accent-color;

  @include for-size(tablet) {
    width: 300px;
  }
}
