@import 'stylesheet/shared.scss';

.authWrapper {
  min-height: 100vh;
  width: 100vw;
  // background-color: $white-color;
  background-color: pink;

  @include for-size(phone) {
    // background-color: $white-color;
  }

  @include for-size(tablet) {
    background-color: $background-color;
  }

  @include for-size(desktop) {
    background-color: $background-color;
  }
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
