@import 'stylesheet/shared.scss';

.dropdownWrapper {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .selectMonthYear {
    width: 280px;
    margin-bottom: 20px;

    @include for-size(tablet) {
      width: 165px;
      justify-content: space-between;
      margin-bottom: 0px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .selectMonthYearPrefix__indicator-separator {
      display: none;
    }
    .selectMonthYearPrefix__control {
      height: 50px;
      border: 1px solid $black-color;
      border-radius: 30px;
      background: inherit;
      padding: 8px 14px;
      cursor: pointer;
    }

    .selectMonthYearPrefix__placeholder {
      font-family: 'Circe', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: inherit;
    }
    .selectMonthYearPrefix__dropdown-indicator {
      color: inherit;
    }

    .selectMonthYearPrefix__menu {
      backdrop-filter: $backdrop-blur;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px;

      .selectMonthYearPrefix__option--is-selected {
        color: $indigo-other-color;
        background-color: $white-color;
      }
    }

    .selectMonthYearPrefix__menu-list::-webkit-scrollbar {
      width: 10px;
    }
    .selectMonthYearPrefix__menu-list::-webkit-scrollbar-track {
      background: inherit;
    }
    .selectMonthYearPrefix__menu-list::-webkit-scrollbar-thumb {
      background: $indigo-other-color;
      border-radius: 30px;
    }
    .selectMonthYearPrefix__menu-list::-webkit-scrollbar-thumb:hover {
      background: $indigo-accent-color;
    }
  }
}
