@import 'stylesheet/shared.scss';

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  margin: 10px;
  font-weight: 400;
  color: $black-color;
}
.link:hover {
  font-weight: 700;
}
.activeLink {
  font-weight: 700;
}

.icon-navifation {
  fill: $indigo-other-color;
}
.icon-navifation:hover,
.icon-navifation:active {
  fill: $indigo-accent-color;
  border-radius: 7px;
  box-shadow: 1px 4px 4px $indigo-accent-color;
}
