@import 'stylesheet/shared.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 13px 67px;
  @include for-size(tablet) {
    flex-direction: column;
  }
}

.navLink {
  display: inline-block;
  font-family: $secondary-font;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: $black-color;
}
.navLink:hover {
  font-weight: 700;
}
.navActiveLink {
  font-weight: 700;
}
.navActiveLink:last-child {
  @include for-size(tablet) {
    display: none;
  }
}
.description {
  display: none;

  @include for-size(tablet) {
    display: block;
    margin-right: 40px;
  }
}
.iconNavigation {
  fill: $indigo-other-color;
}
.iconNavigation:hover,
.iconNavigation:active {
  fill: $indigo-accent-color;
  border-radius: 7px;
  box-shadow: 1px 4px 4px $indigo-accent-color;
}
