@import 'stylesheet/shared.scss';

.formElement {
  position: relative;
  margin: 0 0 40px;

  &:focus-within,
  &:hover {
    .textInput {
      border-bottom: 1px solid $indigo-accent-color;
      transition: border-bottom $time-transforming $timing-function;
    }

    .formElementIcon {
      fill: $indigo-other-color;
      transition: fill $time-transforming $timing-function;
    }
  }
}

.textInput {
  width: 100%;
  height: 34px;
  padding-left: 54px;

  border: 0px;
  border-bottom: 1px solid $gray-table-string-color;
  background-color: transparent;
  outline: none;

  transition: border-bottom $time-transforming $timing-function;
}

.formElementIcon {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 0;
  left: 15px;

  fill: $fill-color;
  transition: fill $time-transforming $timing-function;
}
