@import 'stylesheet/shared.scss';

.diagramTab {
  padding-bottom: 35px;

  .diagramTabChartTable {
    display: flex;
    flex-direction: column;

    @include for-size(tablet) {
      flex-direction: row;
    }
  }

  .dropdownContainer {
    display: flex;
    flex-direction: column;

    @include for-size(tablet) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.diagramTabSpinner {
  color: #6e78e8;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
