@import 'stylesheet/shared.scss';

.tableHead {
  font-size: 18px;
}
// .tableHeadName {
//   font-size: 18px;
// }

.tableDataCurrency {
}

.tableDataBuy {
  text-align: center;
}

.tableDataSale {
  text-align: right;
}
