@import 'stylesheet/shared.scss';

.currencyTable {
  color: $white-color;
  width: 100%;

  border-radius: 30px;
  overflow: hidden;

  @include for-size(tablet) {
    width: 334px;
  }

  @include for-size(desktop) {
    width: 348px;
  }
}

.currencyHead {
  display: flex;
  justify-content: space-between;

  padding: 11px 17px 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;

  @include for-size(desktop) {
    padding: 17px 30px 16px 30px;
  }

  background-color: $indigo-other-color;
}

.currencyDiv {
  padding: 10px 20px 22px 20px;

  @include for-size(desktop) {
    padding: 20px 30px 149px 30px;
  }
  background-color: $indigo-accent-color;
}

.currencyDiv div:not(:last-child) {
  margin-bottom: 10px;

  @include for-size(desktop) {
    margin-bottom: 23px;
  }
}

.currencyDetails {
  display: flex;
  justify-content: space-between;
}

.ccy {
  text-align: left;
}
.buy {
  text-align: center;
}
.sale {
  text-align: right;
}
