@import 'stylesheet/shared.scss';

.add-transactions__button {
  position: absolute;
  right: 10%;
  bottom: 10%;

  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  box-shadow: 0px 6px 15px #24cca780;
  background-color: $green-accent-color-color;
  transition: background-color $time-transforming $timing-function;

  @media (min-width: 768px) {
    right: 40px;
    bottom: 40px;
  }

  @media (min-width: 1200px) {
    right: 85px;
    bottom: 40px;
  }
}

.add-transactions__button:hover,
.add-transactions__button:focus,
.add-transactions__button:active {
  background-color: $green-accent-color-dark;
  transition: background-color $time-transforming $timing-function;
}

.add-button-icon {
  width: 20px;
  height: 20px;
}
