@import 'stylesheet/shared.scss';

.progress {
  width: 100%;
  height: 4px;
  margin-top: -12px;
  border-radius: 2px;
  background-color: $gray-table-string-color;
}
.progressBar {
  height: 4px;
  border-radius: 2px;
  transition: $time-transforming $timing-function;
}
